.place-card {
    display: flex;
    gap: 40px;
}

.place-card__column-left {
    display: flex;
    flex-direction: column;
}

.place-card__title {
    margin: 0;
    font-size: 72px;
    line-height: 1.06;
    font-family: 'Inter';
    font-weight: 900;
}

.place-card__image {
    width: 460px;
    height: 460px;
    margin-top: 48px;
}

.place-card__button {
    width: 255px;
    height: 48px;
    padding: 13px 20px;
    margin-top: 48px;
    background-color: #0278FE;
    color: white;
    font-size: 18px;
    line-height: 1.21;
    font-family: 'Inter';
    font-weight: 600;

}

.place-card__column-right {
    display: flex;
    flex-direction: column;
}


.place-card__artist {
    margin: 100px 0 0 0;
    font-size: 12px;
    line-height: 1.21;
    font-family: 'Inter';
    font-weight: 400;
    color:#AAAAAA;
}


.place-card__contributor {
    font-size: 18px;
    line-height: 1.22;
    margin-top: 8px;
    font-family: 'Inter';
    font-weight: 400;
}

.place-card__paragraph-1 {
    margin-top: 48px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.63;
    font-family: 'Inter';
    font-weight: 400;
}
.place-card__paragraph-2 {
    margin-top: 25px;
    font-size: 18px;
    line-height: 1.63;
    font-family: 'Inter';
    font-weight: 400;
}







